body {
    background: url("../images/bg4.jpeg") no-repeat;
    background-size: cover;
    font-family: 'Cinzel', serif;
    text-align: center;
}

h1, p, main{
    color: oldlace;
    text-align: center;
}



P {
    font-size: 18pt;
    line-height: 20pt;
}

#word {
    font-size: 24pt;
    color: red;
    letter-spacing: 5px;
    font-weight: bold;
}

.title {
    margin: 20px 0px 15px 0px;
}

.main {
    margin-top: 20px;
}

.hide {
    display: none;
}
